{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

<div class= "rectangle border rounded bg-primary-inverse w-50 m-auto p-3 mt-3 text-center fs-2">
<p>Bienvenue dans notre boutique en ligne</br>
Où un large choix de gamme vous attends</p>
</div>
<div>
<div class="container d-flex justify-content-center align-items-center m-6 mt-4 mb-4 overflow-hidden">
  <div class="cards">
    <img class="image" src="{{ asset('build/images/flacon.jpeg') }}" href="app_ParfumF">
    <div class="card__head">Parfum Femme</div>
  </div>
  <div class="cards">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg" href="#">
    <div class="card__head">Parfum Homme</div>
  </div>
  <div class="cards">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
    <div class="card__head">Collection Soins</div>
  </div>
  <div class="cards">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
    <div class="card__head">Collection Maison</div>
  </div>
</div>
{% endblock %}