{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

<div class= "rectangle border rounded bg-primary-inverse w-50 m-auto p-3 mt-3 text-center fs-2">
<p>Bienvenue dans notre boutique en ligne</p>
</div>
<div>
<img src="{{ asset('build/images/table.jpg') }}" alt="table" class="  img-fluid border rounded w-50 m-auto p-3 mt-3 justify-content-center"> 
{% endblock %}