{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="visually-hidden">Inscription</h1>
    <div class="my-auto mx-auto w-100  ">
        <div class=" mx-auto   col-10 offset-lg-3 col-lg-4  position-relative">
            <div class=" position-relative    overflow-hidden rounded  z-0">