<div class="footer p-2 bg-primary">

    <div class="container-fluid d-flex flex-row justify-content-between px-4">
        <div class="accordion accordion-flush my-auto " id="accordionFlushExample">
            <div class="accordion-item bg-primary">
                <h2 class="accordion-header" id="flush-headingOne">
                    <a href="#" class="collapsed bg-primary text-white fs-4" type="button" data-bs-toggle="collapse"
                       data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                       flagrance divine
                    </a>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-white p-0">
                        <p> &copy; {{ 'now'|date('Y') }}
                           
                    </div>
                </div>
            </div>
        </div>
        <div class=" my-auto">
            <a href="#" class="text-light text-decoration-none me-5">RGPD</a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                     <i class="bi bi-facebook text-white fs-2 m-2"></i>
            </a>
        </div>
	</div>
</div>
