<header class="bg-primary ">
	<div class="row row-cols-1 row-cols-lg-3 p-5 ">

		<div>
			<i class="bi bi-person-circle m-3"></i>
			<a class=" text-primary-inverse m-3" href="{{ path('app_login') }}">Compte</a><br>
			<i class="bi bi-cart m-3"></i>
			<a class=" m-3 text-primary-inverse " href="#">Panier</a>

		</div>
		<div class="text-center text-primary-inverse">
			<h1>Flagrance divine</h1>
		</div>
		<div class="dropdown  d-flex justify-content-lg-end ">
			<input type="checkbox" id="checkbox"></input>
		<label for="checkbox" class="toggle">
			<div class="bars" id="bar1"></div>
			<div class="bars" id="bar2"></div>
			<div class="bars" id="bar3"></div>
			<nav class="justify-content-center mt-5">
				<ul class=" dropdown-menu-center bg-primary-inverse m-1 p-1">
					<li>
						<a class=" dropdown-item" text-primary" href="#">Parfum Femme</a>
					</li>
					<li>
						<a class="dropdown-item text-primary" href="#">Parfum Homme</a>
					</li>
					<li>
						<a class="dropdown-item text-primary" href="#">Collection Soins</a>
					</li>
					<li>
						<a class="dropdown-item text-primary" href="#">Collection Maison</a>
					</li>
					<li>
						<a class="dropdown-item text-primary" href="#">Contact</a>
					</li>
					<li>
						<a class=" dropdown-item text-primary" href="#">Livre d'or</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a class="dropdown-item text-primary" href="{{ path('app_admin') }}">Administration</a>
						</li>
					{% endif %}
					<li>
						<a class="dropdown-item text-primary" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
				</ul>
			</nav>
		</div>
	</nav>
	</div>
</header>
