{% extends 'base.html.twig' %}

{% block title %}Parfum Femme
{% endblock %}

{% block body %}
 
<div class= "rectangle border rounded bg-primary-inverse w-50 m-auto p-3 mt-3 text-center fs-2">
<div class="card" style="width: 18rem;">
  <div class="card-body m-3">
    <h5 class="card-title"></h5>
  </div>
  <div class="card-body ">
    <h5 class="card-title">f</h5>
  </div>
</div>

  </div>
{% endblock %}