{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<h2 class="text-black align-self-center mt-5">
		Administration des contenus</h2>
	<hr class="w-25 mx-auto mb-5 opacity-100 mt-3 border-2">
	<div class="row d-flex justify-content-center">
		<div class="category-card text-center border-dark border-2  bg-primary-inverse m-5 w-25 p-3">
			<img class="card-img-top rounded img-thumbnail h-75 object-fit-cover" src="{{asset('build/images/logo.png')}}" alt="Card image cap">
			<div class="card-body">
				<a href="#" class="btn btn-primary mt-5">Categorie</a>
			</div>
		</div>
		
		<div class="user-card text-center border-dark border-2  bg-primary-inverse m-5 w-25 p-3">
			<img class="card-img-top rounded img-thumbnail h-75 object-fit-cover" src="{{ asset('build/images/user1.jpg') }}" alt="Card image cap">
			<div class="card-body">
				<a href="{{ path('app_admin_user_index')}}" class="btn btn-primary mt-5">Utilisateurs</a>
			</div>
		</div>
</div>
	{% endblock %}
